* {
  margin: auto 0;
  font-family: "Merriweather", serif;
}

h1 {
  color: #f2f2f2;
  text-align: center;
  font-size: 7vw;
  text-shadow: 1px 3px 3px #000000;
  text-decoration: underline;
}

main {
  height: 150vh auto;
}
/* Nav Bar */
nav {
  background-color: #2854BA;
  background: -moz-linear-gradient(top, #2854BA 0%, #283450 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2854BA), color-stop(100%,#283450));
  background: -webkit-linear-gradient(top, #2854BA 0%,#283450 100%);
  background: -o-linear-gradient(top, #2854BA 0%,#283450 100%);
  background: -ms-linear-gradient(top, #2854BA 0%,#283450 100%);
  background: linear-gradient(top, #2854BA 0%,#283450 100%);
  position: fixed;
  width: 100%;
}

li a {
    color: #f2f2f2;
    background-color: transparent;
    text-decoration: underline;
    padding-left: 2vw;
    padding-right: 2vw;
    font-size: 1.5vw;
    border-left: 1px solid #f2f2f2;
}

li a:hover {
  text-shadow: 1px 1px 1px #000000;
}

li a.active {
  color: #5e63b6;
}

.main-nav {
  display: flex;
  list-style: none;
  /* font-size: 0.7em; */
  margin: 0;
}

.logo-main {
  height: 2.5vw;
  width: 3.5vw;
  padding: 10px;
  padding-right: 2vw;
}

.push {
  margin-left: auto;
}

.about {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  align-content: center;
  justify-content: center;
}

.box {
    padding: 20px;
    margin: 20px;
    height: auto;
}

.header {
  text-align: right;
  font-size: 50px;
  font-weight: bold;
  font-style: oblique;
  text-decoration: underline;
  text-decoration-color: #FF8520;
}

.text {
  text-align: left;
  line-height: 150%;
}
/* Home container */

/* .video {
  display: grid;
  grid-template-columns: repeat(auto-fill, 1fr);
  grid-template-rows: 1fr;
  gap: 20px;
  align-content: center;
  justify-content: center;
  margin: 4vw;
}

.diver-vid {
  width: 33vw;
  border: 2px solid #5D73A7;
  background-color: #EAEFFA;
  -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
  -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
  -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
  box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}

.vid-text {
  width: 33vw;
  color: #1C212F;
  font-size: 18px;
  font-style: italic;
  border: 2px solid #5D73A7;
  background-color: #EAEFFA;
  line-height: 200%;
  text-align: center;
  -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
  -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
  -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
  box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
} */

.colorbreak {
  width: 100%;
  background-color: #FF8520;
  height: 20vh;
  border-bottom: 2px solid #5D73A7;
}

.bottom {
  background: url(./img/scuba-diver.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75vh;
}
/* Footer */

footer {
  background-color: #2854BA;
  background: -moz-linear-gradient(top, #2854BA 0%, #283450 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2854BA), color-stop(100%,#283450));
  background: -webkit-linear-gradient(top, #2854BA 0%,#283450 100%);
  background: -o-linear-gradient(top, #2854BA 0%,#283450 100%);
  background: -ms-linear-gradient(top, #2854BA 0%,#283450 100%);
  background: linear-gradient(top, #2854BA 0%,#283450 100%);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #f2f2f2;
  text-transform: uppercase;
}

.logo {
  height: 3vw;
  width: 2.5vw;
}
/* Covers */
.cover-home {
  background: url(./img/cover.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;

}

.cover-services {
  background: url(./img/services.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;

}

.cover-contact {
  background: url(./img/contact.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;

}
/* Front Page */

.front-page {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(./img/landingpage.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.welcome {
  color: #f2f2f2;
  text-align: center;
  font-size: 7vw;
  text-shadow: 3px 3px 3px #000000;
  display: grid;
  justify-content:center;
  margin-top: 15%;
  margin-bottom: 5%;
}

.welcome:hover {
  cursor: default;
}

.enter-button {
  display: grid;
  justify-content: center;
  align-items: center;
}

.enter {
  box-shadow: 0px 10px 14px -7px #000000;
	background-color:transparent;
	border-radius:4px;
	border:1px solid #ffffff;
	cursor:pointer;
	color:#ffffff;
	padding:6px 12px;
}

.enter:hover {
	background-color:#000000;
  opacity: 0.3;
}

.buttonlogo {
  height: 100px;
  width: 125px;
}
/*Social Media Buttons*/

.social {
  display: grid;
  position: fixed;
  grid-column: 1fr;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 3vw;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-twitter {

  background: #55ACEE;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #8134AF;
  color: white;
}

/*media*/

@media only screen and (max-width: 810px) {

  li a {
    font-size: 4vw;
  }

  .welcome {
      margin-top: 55%;
      font-size: 12vw;
  }

  .logo-main {
    height: 5vw;
    width: 7.5vw;
  }

  .main-nav {
    font-size: 0.5em;
    padding: 0;
  }

  .cover-home, .cover-services, .cover-contact {
    height: 33vh;
  }

  .header {
    text-align: center;
  }

  .text {
    text-align: center;
  }
}
